.listOfElements>li{
    background-color: beige;
    margin-top: 10px;
    width: 30%;
    padding: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul{
    list-style: none;
}
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rebeccapurple;
    box-shadow: 1px 1px 10px;
    padding: 10px;
    text-shadow: 5px 5px 10px black;
}